<!DOCTYPE html>

<html>

<header>
    <title>FloodSafe_Pakistan</title>
</header>

<body>
    <h1>Flood Safe Pakistan</h1>
    <br>
    {% if error %}
    <p>{{ error }}</p>
    <a href="/">Back</a>
{% else %}
    <p>City: {{ city }}</p>
    <p>Rainfall: {{ rainfall }}mm</p>
    <p>Risk Level: {{ risk_level }}</p>
    <p>Current Weather: {{ temp }}°C, {{ description }}</p>
    <h3>Nearest Shelter:</h3>
    <ul>
    {% for tip in shelter %}
    <li>{{ tip }}</li>
    {% endfor %}
    </ul>
    <h3>Safety Tips:</h3>
    <ul>
    {% for tip in safety_tips %}
    <li>{{ tip }}</li>
    {% endfor %}
    </ul>
{% endif %}
</body>


</html>